[% PROCESS 'lib/header.tt' %]

        <div class="row">

          <div class="p2 w8">

            [% IF error == 404 %]
            <h2>Error 404</h2>
            <p>The page you requested is nowhere to be found.</p>
            [% ELSE %]
            <h2>Error</h2>
            <p>Something happened, but we don't know what.</p>
            [% END %]

          </div>

        </div>

[% PROCESS 'lib/footer.tt' %]
